h1 Willkommen zurück! 
form#accountLogonForm.grid-col-1
  label(for='accountLogonFormEmail') Email
  input(type='email', id='accountLogonFormEmail', name='email', placeholder='deine@email.de')
  label(for='accountLogonFormEmailPassword') Passwort
  input(type='password', id='accountLogonFormPassword', name='password', placeholder='mind. 8 Zeichen')
  input#accountLogonFormSubmit(type='submit', value='anmelden')