h1 Willkommen zurück!
form#accountLogonForm.grid-col-1
  label(for='accountLogonFormEmail') Email
  input#accountLogonFormEmail(type='email', name='email', placeholder='deine@email.de')
  label(for='accountLogonFormEmailPassword') Passwort
  input#accountLogonFormPassword(type='password', name='password', placeholder='mind. 8 Zeichen')
  input#accountLogonFormSubmit(type='submit', value='anmelden')
