extends ../extends/layout

block variables
  - var title = translations.pictureCredits.title
  - var pageId = 'id_ca156b87aaaf42fd9ff1ccecda7828c2'

block content
  h1= translations.pictureCredits.headline
  #pictures.grid-col-1
