@mixin grid-columns($columns) {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat($columns, auto);
  
  place-items: center;  
}

@mixin respond-to($name) {
  @if map-has-key($breakpoints, $name) {
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }
}
