extends ../extends/layout

block variables
  - var title = 'Frame index'
  - var pageId = 'id_c414bd3632514e83807ad8faf0b651a1'

block content
  h1 Frame index
  h1 Frame index 2
  h1 Frame index 3
  h1 Frame index 4
  h1 Frame index 5
  h1 Frame index 6 
  h1 Frame index 7
  h1 Frame index 8
  h1 Frame index 9
  h1 Frame index 10
  h1 Frame index
  h1 Frame index
  h1 Frame index
  h1 Frame index
  h1 Frame index
  h1 Frame index
  h1 Frame index
  h1 Frame index
  h1 Frame index
  h1 Frame index
  h1 Frame index
  h1 Frame index
  h1 Frame index
  h1 Frame index
  h1 Frame index
  h1 Frame index
  h1 Frame index
  h1 Frame index
  h1 Frame index
  h1 Frame index
  h1 Frame index
  h1 Frame index 111
