extends ../extends/layout

block variables
  - var title = translations.licenseCredits.title
  - var pageId = 'id_c29b58e4b3ab492692b4bd06dc90aeb5'

block content
  h1= translations.licenseCredits.headline
  #licenses.grid-col-1
