a#licenseLink(href=pugOptions.footer.licenseCreditsUrl)= translations.footer.licenseCredits
a#pictureCreditLink(href=pugOptions.footer.pictureCreditUrl)= translations.footer.pictureCredits
a(href=pugOptions.footer.versionUrl)= translations.footer.versions
each languageLink in pugOptions.footer.languages
  a(href=languageLink.url)= languageLink.text
