name: fe-frame
on:
  push:
    branches:
      - main
    paths: 
      - 'frontend/frame/**'
  workflow_dispatch:
jobs:
  main:
    runs-on: ubuntu-latest
    environment:
      name: fe-frame-production
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: use node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: install dependencies
        run: npm install
      - name: create _address.js
        run: |
          printf "const address = { licenses: [ '$BASE_URL/public/license.json' ] };" > ../client/js/_address.js
        env:
          BASE_URL: ${{ secrets.BASE_URL }}
      - name: uglyfy
        run: npm run ugly
      - name: set config
        run: npx firebase-tools functions:config:set frame.baseurl=$BASE_URL frame.version=$RELEASE_VERSION
        env:
          BASE_URL: ${{ secrets.BASE_URL }}
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_CI_TOKEN }}
          RELEASE_VERSION: ${{ github.event.release.tag_name }}
      - name: deploy firebase function
        run: npx firebase-tools deploy --only functions --token "$FIREBASE_TOKEN"
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_CI_TOKEN }}
defaults:
  run:
    working-directory: 'frontend/frame/functions'