extends ../extends/layout

block variables
  - var title = translations.account.title
  - var pageId = 'id_4a216f7252ad4f27b3d8d7cf3b1c4d51'

block content
  .grid-col-1(frame-request-by=accountRequest)
